.item-card button img {
  height: 100%;
  width: auto;
  border-radius: 7px;
  display: block;
}

.item-card button {
  position: relative;
  overflow: hidden;
  height: 100px;
  width: auto;
  border-style: solid;
  border-color: rgb(94, 93, 93); /* only change the color, never the width */
  border-radius: 7px;
  padding: 0;
  margin: 5px;
  background-color: transparent;
  align-items: center;
  cursor: pointer;
}

.item-card button::after {
  content: "";
  position: absolute;
  top: 0;
  left: 0;
  width: 100%;
  height: 100%;
  background-color: rgba(118, 207, 118, 0.4); /* green with transparency */
  opacity: 0;
  transition: opacity 0.3s ease;
  pointer-events: none; /* allows clicking through */
  border-radius: 7px;
}

.item-card button:hover::after {
  opacity: 1;
}

.item-card{
  position: relative;
  

}

.item-card button.selected{
  position: relative;
  overflow: hidden;
  height: 100px;
  width: auto;
  border-style: solid;
  border-color: rgb(49, 238, 96); /* only change the color, never the width */
  border-radius: 7px;
  border-width: 3.6px;
  padding: 0;
  margin: 5px;
  background-color: transparent;
  align-items: center;
}

/* overlay is centered, fills the card, but invisible by default */
.overlay {
  position: absolute;
  top: 0;
  left: 0;
  width: 100%;
  height: 100%;
  display: flex;
  align-items: center;
  justify-content: center;
  background: rgba(0, 0, 0, 0.5);
  color: #fff;
  font-size: 1rem;
  opacity: 0;
  transition: opacity 0.3s ease;
  pointer-events: none; /* so clicks fall through to the button */
}

/* on hover over the button, fade it in */
.item-card button:hover .overlay {
  opacity: 1;
}

.arrow button {
  align-items: center;
  background-color: rgb(218, 217, 217);
  border: 2px solid; /* reserve 4px all around */
  box-sizing: border-box; /* include border in the element’s width/height */
  border-radius: 7px;
  border-color: rgb(94, 93, 93); /* only change the color, never the width */
  margin-right: 10px;
  margin-left: 10px;
  z-index: 5;
  cursor: pointer;
}

.arrow button:hover {
  background-color: rgb(70, 216, 106);
  transition: 0.45s;
}

.randomize button {
  border-color: rgb(94, 93, 93); /* only change the color, never the width */
  font-family: "Rubik";
  font-size: 1.6rem;
  background-color: rgb(218, 217, 217);
  border-radius: 10px;
  border-style: solid;
  font-size: 2.3em;
  cursor: pointer;
}

.randomize {
  padding-left: 20px;
  cursor: pointer;

}

.randomize button:hover {
  background-color: rgb(70, 216, 106);
  transition: 0.5s;
}

.randomize.disable {
  pointer-events: none;
  opacity: 0.6;
  cursor: not-allowed;
}